/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Universal box-sizing */
* {
    box-sizing: border-box;
}

/* Banner style */
.banner {
    background-image: url("background.png");
    color: #652f2f;
    padding: 15px;
    text-align: center;
    font-family: 'fantasy';
    box-shadow: 1px 3px 30px 1px #6565ae;
    border: 3px solid #1f2393;
}

.banner-content {
    position: relative;
}

#logo {
    width: 100px;
    position: absolute;
    top: 30px;
    right: 20px;
}

h1 {
    font-size: 1.5em;
    text-transform: capitalize;
    text-shadow: 1px 1px #5f70bf;
    font-style: oblique;
}

h2 {
    font-size: 1em;
    color: #1f2393;
}

/* Main container for content */
.container {
    border: 2px solid #1f2393;
    padding: 20px;
    background-image: url("background.png");
    margin: 20px;
    height: 700px;
    overflow: auto;
}

/* Instructions section */
.instructions {
    background-color: rgba(38, 56, 109, 0.9);
    padding: 15px;
    border: 1px solid #ffffff;
    margin-bottom: 20px;
    color: white;
    font-size: 1em;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

/* Wave section for each level */
.wave {
    background-color: rgba(38, 56, 109, 0.9);
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 1em;
}

h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fcfcfc;
}

/* Image hover effect */
.wave img {
    transition: all 0.3s ease;
}

.wave img:hover {
    transform: scale(1.05);
}

/* Hover effects for wave sections */
.wave:hover {
    height: 100%;
    transition: height 0.5s ease-in-out;
}
